/* html * {
  box-sizing: border-box;
} */


a {
  text-decoration: none;
  color: black;
}

.skip,
.visuallyhidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: minmax(3rem, auto);
  grid-template-columns: 3rem 10rem 15rem auto 15rem 3rem 10rem;
  grid-template-areas:
    "toggler logo skipper search . settings signin"
    "sidebar sidebar tags tags tags tags tags"
    "sidebar sidebar main main main main main";
  gap: 0.5em;
}

button {
  min-width: 3rem;
}

.button-naked {
  border: none;
  background-color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
button:hover, button:focus, a:hover, a:focus {
  cursor: pointer;
  background-color: rgb(223, 207, 207);
}

header {
  grid-area: 1 / 1 / 2 / -1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  justify-self: center;
  justify-items: center;
}

header * {
  padding: 3px;
  font-size: x-large;
}

#branding {
  grid-area: logo;
}

#skipper {
  grid-area: skipper;
  font-size: medium;
}

#search {
  grid-area: search;
  justify-self: center;
}

#search * {
  display: inline;
}

#settings {
  grid-area: settings;
}

#signin {
  grid-area: signin;
}

#sidebar-toggler {
  grid-area: toggler;
}

#sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: subgrid;
}

menu {
  list-style: none;
}
sidebar menu {
  grid-template-columns: subgrid;
}

/* nav {
  display: grid;
  grid-template-columns: subgrid;
} */

/* #taglist {
  list-style: none;
  grid-area: 2/ 4/ 3/ -1;
  display: flex;
  margin: 0;
  padding-left: 0;
  align-items: center;
} */

/* .tag *{
  text-align: center;
  display: inline-block;
  width: 4rem;
} */

#main * {
  height: 10rem;
  border: solid grey;
}

#main {
  align-items: stretch;
  text-align: center;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#main * {
  justify-items: center;
}
